.carousel-caption{
    bottom: 180px;
    left: 120px;
    right: 120px;
    color: antiquewhite;
    
  }
  .carousel-caption h4{
    font-size: 85px;
    position: relative;
    text-shadow: 3px 2px black ;
 
  }
  
  #link a {
    text-decoration: none !important;
    color: white;
    font-weight: 500;
  }
  
  #link a:hover {
    color: blue;
  }
  
  #submit {
    margin-bottom: 5px;
  }
  .rating{
    color: darkorange;
  }
  .social-icon :hover{
    color: blue;
  }
  